*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 200px;
    background: silver;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#display{
    height: 80px;
    background: orange;
    color: white;
    position: relative;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
    box-sizing: border-box;
}


.row{
    display: flex;
    justify-content: flex-start;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-num, .btn-on{
    border-right: 1px solid black; 
    width: 50px;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
}

.acNext{
    width: 50px;
    border-right: 1px solid black;
    text-align: center;
    padding: 15px 0;
}

.divide{
    border-right: none;
}

.btn-op, #btn-result{
    text-align: center;
    padding: 15px 0;
    width: 50px;
}

.ac{
    width: 100px;
    border-right: 1px solid black;
    text-align: center;
    padding: 20px 0
}

.on{
    font-size: 10px;
    padding: 20px 0;
}

.switch{
    display: none;
}



.mystyle {
    width: 100%;
    padding: 25px;
    background-color: green;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
  }